/*  Colors  */
html {
    --color0: #ce0000;
    --color1: #ff9100;
    --color2: #ffee00;
    --color3: #009700;
    --color4: #008cff;
    --color5: #0000c4;
    --color6: #4b0082;
}


/*  Set Up  */
body {
    font-family: Dosis, sans-serif;
}

nav {
    width: 100%;
    background: linear-gradient(0.25turn, var(--color0), var(--color1), var(--color2), var(--color3), var(--color4), var(--color5), var(--color6));
    height: 8vh;
    width: 100vw;
    display: absolute;
}

nav div {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    padding-left:25px;
    padding-right: 25px;
    font-weight: 700;
    text-align: center;
    font-size: 1.25em;
}

article {
    height: 87vh;
    width: 100vw;
    flex: 0 0 auto;
}


/* Title Page   */
#title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#title h1 {
    font-size: 12em;
    margin:0;
    align-self: left;
    padding-left: 15px;
}

#title h2 {
    font-size: 4em;
    margin-bottom: 0;
    font-weight: 600;
    padding-left: 25px;
}

#title h3 {
    align-self: flex-end;
    margin-right: 75px;
    font-weight: 500;
    justify-self: flex-end;
}

#title span {
    font-weight: 800;
}


/*  Bio Page    */
#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-around;
}

#bio h1 {
    padding-left: 10px;
}

#bio p {
    width: 300px;
    padding-left: 68px;
}

#bio img {
    width: 40vw;
}

/*  Portfolio Content Styles */

.portfolio section {
    padding-top: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-areas: 1fr / 1fr 1fr 1fr 1fr;
}



.highlight img{
    grid-column-start: span 2;
}
